<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="white.goo.repository.CourseMapper">
    <resultMap id="course" type="white.goo.entity.Course">
        <id column="id" property="id"/>
        <result column="course_name" property="courseName"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="status" property="status"/>
        <result column="credit" property="credit"/>
        <result column="place" property="place"/>
        <result column="form" property="form"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="creator" property="creator"/>
        <result column="editor" property="editor"/>
    </resultMap>
</mapper>